<!-- Footer -->

<hr class="separator" />

<footer class="text-center">
  <div class="social-icons-white">
    <a href="https://twitter.com/vishwasnavadak" target="_blank" rel="noreferrer noopener" title="Twitter"
      aria-label="Twitter Profile">
      <span class="fa fa-twitter fa-2x"></span>
    </a>
    <a href="https://www.reddit.com/user/vishwasnavadak" target="_blank" rel="noreferrer noopener" title="Reddit"
      aria-label="Reddit Profile">
      <span class="fa fa-reddit-alien fa-2x"></span>
    </a>
    <a href="https://linkedin.com/in/vishwasnavadak" target="_blank" rel="noreferrer noopener" title="LinkedIn"
      aria-label="Linkedin Profile">
      <span class="fa fa-linkedin fa-2x"></span>
    </a>
    <a href="https://github.com/vishwasnavadak/" target="_blank" rel="noreferrer noopener" title="Github"
      aria-label="Github Profile">
      <span class="fa fa-github-alt fa-2x"></span>
    </a>
    <a href="https://stackoverflow.com/users/story/2526327" target="_blank" rel="noreferrer noopener"
      title="Stackoverflow" aria-label="Stackoverflow Profile">
      <span class="fa fa-stack-overflow fa-2x"></span>
    </a>
  </div><br />
  &copy; 2017-<span id="cur-year"></span> Vishwasa Navada K.
</footer>