<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>
            <a href="https://www.facebook.com/{{ site.social_media }}" target="_blank" title="Facebook" aria-label="Facebook Profile"><span class="fa fa-facebook-official fa-2x"></span></a>
            <a href="https://twitter.com/{{ site.social_media }}" target="_blank" title="Twitter" aria-label="Twitter Profile"><span class="fa fa-twitter-square fa-2x"></span></a>
            <a href="http://linkedin.com/in/{{ site.social_media }}" target="_blank" title="LinkedIn" aria-label="Linkedin Profile"><span class="fa fa-linkedin-square fa-2x"></span></a>
            <a href="https://www.instagram.com/{{ site.social_media }}/" target="_blank" title="Instagram" aria-label="Instagram Profile"><span class="fa fa-instagram fa-2x"></span></a>
            <a href="https://github.com/{{ site.social_media }}/" target="_blank" title="Github" aria-label="Github Profile"><span class="fa fa-github-square fa-2x"></span></a>
        </h3>
    </div>
    </div>
    <div class="footer text-center">
      <p> &copy; 2018 Vishwas Navada K. Built with Bootstrap. Hosted on Github.</p>
    </div>  </div>
</footer>
