<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#161616" />
  <title>
    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }} {%
    else %}{{ site.title | escape }}{% endif %}
  </title>

  <meta name="description" itemprop="description" content="{{
      page.excerpt
        | default: site.description
        | strip_html
        | normalize_whitespace
        | truncate: 160
        | escape
    }}" />
  <meta name="keywords" itemprop="keywords" content="{{ page.metakeywords | default: site.metakeywords }}" />
  <!-- Open Graph Meta Tags -->
  <meta name="og:title" content="{{ page.title }} - {{ site.title }}" />
  <meta name="og:description" content="{{ page.excerpt | default: site.description }}" />
  <meta name="og:image"
    content="{% if page.background %}{{ site.url }}/blog{{ page.background }}{% else %}{{ site.url}}/assets/img/bg.jpeg{% endif %}" />
  <meta name="og:url" content="{{ site.url }}/blog{{ page.url }}" />
  <meta name="og:site_name" content="{{ site.title }}" />
  <meta name="og:type" content="website" />
  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@vishwasnavadak" />
  <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}" />
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description }}" />
  <meta name="twitter:image"
    content="{% if page.background %}{{ site.url }}/blog{{ page.background }}{% else %}{{ site.url}}/assets/img/bg.jpeg{% endif %}" />
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}/blog{{ page.url }}"
    },
    "headline": "{{ page.title }} - {{ site.title }}",
    "description": "{{ page.excerpt | default: site.description }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/blog{{ page.background }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}"
    },  
    "publisher": {
    "@type": "Organization",
    "name": "Vishwas.tech Blog",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/blog{{ page.background }}"
    }
    },
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.date }}"

  }
  </script>

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{
    "/assets/main.css" | relative_url
  }}">
  <link rel="stylesheet" href="{{
    "/assets/override.css" | relative_url
  }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{
    site.title | escape
  }}" href="{{
    "/feed.xml" | relative_url
  }}">
  <!-- To Generate RSS feed in json -->
  <link rel="alternate" title="{{
    site.title
  }}" type="application/json" href="{{
    "/feed.json" | prepend: site.baseurl | prepend: site.url
  }}" />
</head>