<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa fa-bars"></i> Menu
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/photos" target="_blank" rel="noreferrer noopener">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/videos" target="_blank" rel="noreferrer noopener">Videos</a>
      </li>
    </ul>
  </div>
</nav>