<script defer async src="https://www.googletagmanager.com/gtag/js?id=UA-51455888-6"></script>
<script>
  let host = window.location.hostname;
  if (host !== "127.0.0.1") {
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-51455888-6');
  }
</script>
<script defer src="/blog/assets/scripts.js"></script>
<script defer type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>