<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51455888-6"></script>
<script>
  let host = window.location.hostname;
  if (host !== "127.0.0.1") {
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-51455888-6');
  }
</script>
<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js" | relative_url }}"></script>
<script>
  $(document).ready(function () {
    $("#cur-year").html(new Date().getFullYear());
  });
</script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>