body{
    background:#1f2125 !important;
    color:#fff !important;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif !important;
    height:100%;
}
.container > .row a {
    color: #ffffff !important;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; 
}
.container > .row a:focus, a:hover {
      color: #888888 !important;
}

header.masthead .post-heading {
        padding: 100px 0 10px !important;
}
.share-buttons {
    display: table;
    padding:10px 0;
}
.share-buttons > p{
    display:table-cell;
    vertical-align: middle;
    padding-right:10px;
}
.share-buttons > a{
    text-decoration: none;
}
hr { 
	width:100%;
	border: 0; 
	height: 1px; 
	margin-top: 15px 0px !important; 
	background-color: rgba(162, 156, 156, 0.1);
}
header.masthead {
    margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
#mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
    color: #ffffff !important;
}
}
pre.highlight{
    color:#eeeeee;
    background-color: #282a2f;
    padding: 8px 15px;
    border-radius: 1px;
}
.btn-primary {
    color:#ffffff;
    background-color: #1f2125;
    border-color: #ffffff;
}

footer {
    font-size: 0.7em;
    padding: 0px 10px;
}

