---
layout: default
---

<!-- Page Header -->

<br /><br />
<div class="container">
  <h2 class="blog-intro">This is where I write about my life, technology, travel and whatever that doesn't let me sleep
    at night.</h2>
  <div class="row">
    <div class="col-lg-12 col-md-12">

      {{ content }}

      <!-- Home Post List -->
      {% for post in site.posts limit : 5 %}

      <article class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <h2 class="post-title">{{ post.title }}</h2>
          {% if post.subtitle %}
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          {% else %}
          <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
          {% endif %}
        </a>
        <p class="post-meta"><span class="fa fa-calendar-check-o" aria-label="Posted On"></span>
          {{ post.date | date: '%B %d, %Y' }}</p>
      </article>

      <hr class="separator" />

      {% endfor %}

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
      </div>

    </div>
  </div>
</div>