---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 ">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta"><span class="fa fa-calendar-check-o" aria-label="Posted On"></span>
              {{ page.date | date: "%B %d, %Y" }}</span>
            <div class="share-buttons">
              <span>Share:</span>
              <!-- Facebook -->
              <a href="https://www.facebook.com/sharer/sharer.php?u={{
                  site.url
                }}/blog{{ page.url }}?utm_source=facebook" target="_blank" rel="noreferrer noopener"
                aria-label="Facebook Share Link">
                <span class="fa fa-facebook-square fa-2x"></span>
              </a>
              <!-- Twitter -->
              <a href="https://twitter.com/intent/tweet?url={{ site.url }}/blog{{
                  page.url
                }}?utm_source=twitter&amp;text={{page.title}} by @{{site.social_media}}" target="_blank"
                rel="noreferrer noopener" aria-label="Twitter Share Link">
                <span class="fa fa-twitter fa-2x"></span>
              </a>
              <!-- LinkedIn -->
              <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{
                  site.url
                }}/blog{{ page.url }}?utm_source=linkedin&amp;title={{page.title}}" target="_blank"
                rel="noreferrer noopener" aria-label="LinkedIn Share Link">
                <span class="fa fa-linkedin fa-2x"></span>
              </a>
              <!-- Reddit -->
              <a href="https://www.reddit.com/submit?url={{
                                site.url
                              }}/blog{{ page.url }}?utm_source=reddit&amp;title={{page.title}}" target="_blank"
                rel="noreferrer noopener" aria-label="Reddit Share Link">
                <span class="fa fa-reddit-alien fa-2x"></span>
              </a>
              <!-- Whatsapp -->
              <a href="https://api.whatsapp.com/send?text={{page.title}} by {{site.author}} {{
                  site.url
                }}/blog{{ page.url }}?utm_source=whatsapp" target="_blank" rel="noreferrer noopener"
                aria-label="WhatsApp Share Link">
                <span class="fa fa-whatsapp fa-2x"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        {{ content }}

        <hr class="separator" />

        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form
            action="https://webception.us14.list-manage.com/subscribe/post?u=c0245295f15b4c910e1a8e7f5&amp;id=09333129c8"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" rel="noreferrer noopener" novalidate>
            <div id="mc_embed_signup_scroll">
              <h4>Like this post? Let me send the next one to your inbox.</h4>
              <div class="mc-field-group form-group ">
                <label for="mce-EMAIL" class="sr-only">Email Address for subscription </label>
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL"
                  placeholder="E-mail address" required />
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c0245295f15b4c910e1a8e7f5_09333129c8" tabindex="-1" value="" />
              </div>
              <div class="clear" style="text-align: center;">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="btn btn-primary" />
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
        <hr class="separator" />
        <div class="related-content">
          <h5 class="text-center">Related Posts</h5>
          <div class="row">
            {% assign maxRelated = 3 %}
            {% assign minCommonTags =  1 %}
            {% assign maxRelatedCounter = 0 %}

            {% for post in site.posts %}

            {% assign sameTagCount = 0 %}
            {% assign postTags = post.metakeywords | split:',' %}
            {% for tag in postTags %}
            {% if post.url != page.url %}
            {% assign pageTags = page.metakeywords | split:',' %}
            {% if pageTags contains tag %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if sameTagCount >= minCommonTags %}
            <div class="related-post col-sm-4">
              <a href="{{ site.baseurl }}{{ post.url }}?utm_source=Blog&utm_medium=Blog&utm_campaign=Relatedposts">
                <p>{{ post.title }}</p>
              </a>
            </div>
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
            {% break %}
            {% endif %}
            {% endif %}

            {% endfor %}
          </div>
        </div>
        <hr class="separator" />

        <div class="clearfix">
          {% if page.previous.url %}
          <a class="btn btn-primary float-left"
            href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
            data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %} {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span
              class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>